# Logs e arquivos de saída
*.log
*.out
wget-log
nohup.out

# Arquivos temporários e de sistema
.DS_Store
*.swp
*.swo

# Pastas de ambiente virtual (Python)
venv/
__pycache__/

# Dados sensíveis ou binários pesados (opcional)
*.exe
*.pcap
loki-data/
quarentena/

# Arquivos de configuração do sistema
.vscode/
.idea/
